{{ if .desktop }}
#!/usr/bin/env bash

set -oue pipefail

echo -e "\033[0;32m>>>>> Begin Setting Bluefin Preferences <<<<<\033[0m"

echo "install recommended gnome extensions"
ujust get-gnome-extensions

echo "install custom extensions"
gext install gTile@vibou
gext install Vitals@CoreCoding.com

echo "install incus"
ujust install-incus

echo "configure docker, incus-admin, lxd, libvrt container manager permissions"
ujust dx-group

echo "configure ptyxis transparency to 0.95"
ujust ptyxis-transparency

# Gnome

# echo "setting gnome interface font"
# gsettings set org.gnome.desktop.interface font-name 'Inter Display 12'

# echo "setting gnome document font"
# gsettings set org.gnome.desktop.interface document-font-name 'Inter Display 12'

echo "setting gnome monospace font"
gsettings set org.gnome.desktop.interface monospace-font-name 'IBM Plex Mono Medium 11'

# echo "setting legacy window titles font"
# gsettings set org.gnome.desktop.wm.preferences titlebar-font 'Inter Display weight=660 12'

echo "setting cursors"
gsettings set org.gnome.desktop.interface cursor-theme 'Bibata-Modern-Classic'

echo "hiding Dash-to-Dock"
gsettings set org.gnome.shell.extensions.dash-to-dock dock-fixed false
{{ end }}

systemctl start setup-nix-portable.service