{{- if and .desktop .personal -}}
#!/usr/bin/env bash

set -oue pipefail

echo -e "\033[0;32m>>>>> Reload systemctl for quadlets <<<<<\033[0m"

# This script will run whenever there's an update in .config/containers/systemd/*
# resilio-sync hash: {{ include "private_dot_config/private_containers/systemd/resilio-sync.container.tmpl" | sha256sum }}
# ollama hash: {{ include "private_dot_config/private_containers/systemd/ollama.container.tmpl" | sha256sum }}
# ollama.network hash: {{ include "private_dot_config/private_containers/systemd/ollama.network.tmpl" | sha256sum }}
# ollama-web hash: {{ include "private_dot_config/private_containers/systemd/ollama-web.container.tmpl" | sha256sum }}
# tdarr-node: {{ include "private_dot_config/private_containers/systemd/tdarr-node.container.tmpl" | sha256sum }}
# update_devbox: {{ include "private_dot_config/private_systemd/user/update_devbox.service.tmpl" | sha256sum }} {{ include "private_dot_config/private_systemd/user/update_devbox.timer.tmpl" | sha256sum }}
# update_fish_completion: {{ include "private_dot_config/private_systemd/user/update_fish_completion.service.tmpl" | sha256sum }} {{ include "private_dot_config/private_systemd/user/update_fish_completion.timer.tmpl" | sha256sum }}

systemctl --user daemon-reload
{{- end -}}
