{{- if and .desktop .personal -}}
#!/usr/bin/env bash

set -oue pipefail

echo -e "\033[0;32m>>>>> Adding udev rules for Ledger devices <<<<<\033[0m"


sudo bash ~/.local/bin/ledger_udev_rules.sh
{{- end -}}