{{- if .workstation -}}
#!/usr/bin/env bash




[ ! -d ~/.ssh ] && mkdir ~/.ssh || true

curl -s https://github.com/pnwmatt.keys > ~/.ssh/pnwmatt.pub
chmod 600 ~/.ssh/pnwmatt.pub
cat ~/.ssh/pnwmatt.pub >> ~/.ssh/authorized_keys
chmod 600 ~/.ssh/authorized_keys

[ ! -d ~/scripts ] && mkdir ~/scripts || true
[ ! -d ~/scripts/lib ] && mkdir ~/scripts/lib || true
[ ! -d ~/workspace ] && mkdir ~/workspace || true

{{ end }}

exit 0