{{- if and .desktop .personal -}}
#!/usr/bin/env bash

set -oue pipefail

echo -e "\033[0;32m>>>>> Clone git repositories <<<<<\033[0m"

clone_repo() {
    local user="$1"
    local repo="$2"
    local repo_url="git@github.com:${user}/${repo}.git"
    local full_path="{{ .chezmoi.homeDir }}/repositories/${user}/${repo}"

    mkdir -p "{{ .chezmoi.homeDir }}/repositories/${user}"

    # Clone the repo if it does not already exist
    if [ ! -d "${full_path}" ]; then
        echo "Cloning ${repo_url} into ${full_path}"
        git clone "${repo_url}" "${full_path}"
    else
        echo "Repository already exists: ${full_path}"
    fi
}

{{ range .repositories -}}
clone_repo "{{ .user }}" "{{ .repo }}"
{{ end -}}

if [ ! -L "{{ .chezmoi.homeDir }}/repositories/auricom/dotfiles" ]; then
    echo "Creating symbolic link to chezmoi directory."
    ln -s "{{ .chezmoi.homeDir }}/.local/share/chezmoi" "{{ .chezmoi.homeDir }}/repositories/auricom/dotfiles"
fi
{{- end -}}
