#!/usr/bin/env bash

{{ if .workstation }}

echo "** Copying scripts from {{ .chezmoi.sourceDir }}/scripts/lib to {{ .chezmoi.homeDir }}/scripts/lib"
cp "{{ .chezmoi.sourceDir }}/scripts/lib/*" {{ .chezmoi.homeDir }}/scripts/lib/. || true
{{ end }}

exit 0
