{{- if and .desktop .personal -}}
#!/usr/bin/env bash

set -oue pipefail

git_local_exclude_append() {
    local repo="$1"
    local string_to_append="$2"
    local exclude_file="{{ .chezmoi.homeDir }}/repositories/${repo}/.git/info/exclude"

    # Check if the exclude file exists
    if [ ! -f "$exclude_file" ]; then
        echo "Error: $exclude_file does not exist."
        return 1
    fi

    if ! grep -qxF "$string_to_append" "$exclude_file"; then
        echo "$string_to_append" >> "$exclude_file"
        echo "Appended: $string_to_append"
    else
        echo "Already present: $string_to_append"
    fi
}

create_symlink() {
    local repo="$1"
    local file_name="$2"

    # Hardcoded paths
    local source_path="{{ .chezmoi.homeDir }}/.local/share/repositories/${repo}/${file_name}"
    local destination_path="{{ .chezmoi.homeDir }}/repositories/${repo}/${file_name}"

    # Check if the symlink already exists
    if [ -L "$destination_path" ]; then
        echo "Symlink already exists: $destination_path"
    elif [ -e "$destination_path" ]; then
        echo "Error: A file or directory already exists at $destination_path"
        return 1
    else
        # Create the symlink
        ln -s "$source_path" "$destination_path"
        if [ $? -eq 0 ]; then
            echo "Symlink created: $destination_path -> $source_path"
        else
            echo "Error: Failed to create symlink"
            return 1
        fi
    fi
}

# devbox.json: {{ include "dot_local/share/repositories/cosmos/cosmos-sdk/devbox.json" | sha256sum }}
# Taskfile.yaml {{ include "dot_local/share/repositories/cosmos/cosmos-sdk/Taskfile.yaml.tmpl" | sha256sum }}

echo -e "\033[0;32m>>>>> Configure cosmos git repositories <<<<<\033[0m"


git_local_exclude_append "cosmos/cosmos-sdk" "devbox.json"
git_local_exclude_append "cosmos/cosmos-sdk" "devbox.lock"
git_local_exclude_append "cosmos/cosmos-sdk" "Taskfile.yaml"

create_symlink "cosmos/cosmos-sdk" "devbox.json"
create_symlink "cosmos/cosmos-sdk" "Taskfile.yaml"
{{- end -}}
