#!{{ lookPath "fish" }}

if not functions -q fisher
    echo -e "\033[0;32m>>>>> Begin Installing Fisher <<<<<\033[0m"
    curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
end
