{{- if .workstation -}}
#!/usr/bin/env bash




[ ! -d ~/.ssh ] && mkdir ~/.ssh

curl -s https://github.com/pnwmatt.keys > ~/.ssh/pnwmatt.pub
chmod 600 ~/.ssh/pnwmatt.pub
echo ~/.ssh/pnwmatt.pub >> ~/.ssh/authorized_keys
chmod 600 ~/.ssh/authorized_keys

[ ! -d ~/scripts ] && mkdir ~/scripts
[ ! -d ~/scripts/lib ] && mkdir ~/scripts/lib
[ ! -d ~/workspace ] && mkdir ~/workspace

{{- end -}}

exit 0