#!/usr/bin/env bash

set -oue pipefail

echo -e "\033[0;32m>>>>> Reload systemctl for quadlets and systemd units <<<<<\033[0m"

# This script will run whenever there's an update in .config/containers/systemd/* or .config/systemd/user/*
{{ if and .desktop .personal }}
# resilio-sync hash: {{ include "private_dot_config/private_containers/systemd/resilio-sync.container.tmpl" | sha256sum }}
# ollama hash: {{ include "private_dot_config/private_containers/systemd/ollama.container.tmpl" | sha256sum }}
# ollama.network hash: {{ include "private_dot_config/private_containers/systemd/ollama.network.tmpl" | sha256sum }}
# ollama-web hash: {{ include "private_dot_config/private_containers/systemd/ollama-web.container.tmpl" | sha256sum }}
# tdarr-node: {{ include "private_dot_config/private_containers/systemd/tdarr-node.container.tmpl" | sha256sum }}
{{ end }}
# ublue_update_custom: {{ include "private_dot_config/private_systemd/user/ublue-update-custom.service.tmpl" | sha256sum }} {{ include "private_dot_config/private_systemd/user/ublue-update-custom.timer.tmpl" | sha256sum }}

systemctl --user daemon-reload
systemctl --user enable ublue-update-custom.timer

