#!/usr/bin/env bash

set -oue pipefail

echo -e "\033[0;32m>>>>> Begin Installing Deno packages <<<<<\033[0m"

{{ if .desktop -}}
{{ range .packages.deno -}}
deno install -q -A {{ . }}
{{ end -}}
{{ end -}}
