#!/usr/bin/env bash

set -o errexit

projectDir="${DEVBOX_PROJECT_ROOT}/.devbox"
rustupHomeDir="$projectDir/.rustup"
mkdir -p $rustupHomeDir
export RUSTUP_HOME=$rustupHomeDir
export LIBRARY_PATH=$LIBRARY_PATH:"$projectDir/nix/profile/default/lib"
rustup default stable
