{{- /* Checks if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Template file for chezmoi config file */ -}}
{{- $workstation := false -}}{{/* true if this machine is a desktop/workstation */}}
{{- $headless := false -}}

{{- if haskey . "workstation" -}}
{{-   $workstation = .workstation -}}
{{- else if $interactive -}}
{{-   $workstation = promptbool "workstation" -}}
{{- end -}}

{{- if hasKey . "workstation" -}}
{{-   if hasKey . "headless" -}}
{{-     $headless = .headless -}}
{{-   else if $interactive -}}
{{-     $headless = promptbool "headless" -}}
{{-   end -}}
{{- end -}}

{{- if false -}}
encryption = "age"
[age]
  identity = "{{ .chezmoi.homeDir }}/.config/sops/age/chezmoi.txt"
  recipient = "age19kk2hhldesux98t50r9wmdhdvj7xw29205gy58tj70m53p5dweksv70uh9"
{{- else -}}
{{-   writeToStdout "Encryption in chezmoi is currently disabled!"
{{- end -}}
[data]
  workstation = {{ $workstation }}
  headless = {{ $headless }}
