[Desktop Entry]
Name=KopiaUI
Comment=Fast and secure open source backup.
Exec=flatpak run io.kopia.KopiaUI
Terminal=false
Type=Application
Icon=io.kopia.KopiaUI
