[Unit]
Description=Bluefin auto update custom
After=local-fs.target
After=network-online.target
ConditionPathExists=%h/scripts/bluefin_update_custom.sh

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "%h/scripts/bluefin_update_custom.sh"
Environment="PATH=/home/linuxbrew/.linuxbrew/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
