[Unit]
Description=Auto update custom
After=local-fs.target
After=network-online.target
ConditionPathExists=%h/scripts/update_custom.sh

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "%h/scripts/update_custom.sh"
Environment="PATH=/home/linuxbrew/.linuxbrew/bin:$PATH"
