{{- if .desktop }}
[Unit]
Description=Resilio Sync - a fast, reliable file and folder syncing solution for homes and businesses.

[Service]
Restart=always
TimeoutStartSec=60
# Ensure there's a userland podman.sock
ExecStartPre=/bin/systemctl --user enable podman.socket
# Ensure that the dir exists
ExecStartPre=-mkdir -p %h/.local/share/resilio-sync %h/sync

[Container]
Annotation=run.oci.keep_original_groups=1
AutoUpdate=registry
ContainerName=resilio-sync
Image=ghcr.io/auricom/resilio-sync:rolling
PublishPort=8888:8888
PublishPort=55555:55555
User=root:root
Volume=/var/home/%u/.local/share/resilio-sync:/config:Z,U
Volume=/var/home/%u/sync:/sync:Z,U

[Install]
WantedBy=default.target
{{- end }}
